@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body{
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}
#page1{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
  /* background-color: rgba(0, 0, 0, 0.85); */
  color: #2F8D46;
}
#navbar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
#navleft{
  margin-left: 2.5rem;
}
#logo:hover{
  scale: 1.2;
  transition: 0.2s ease-out;
  cursor: pointer;
}
#page1 #navright{
  display: flex;
  justify-content: flex-start;
  width: 65%;
  margin-top: .5rem;

}
#page1 #navright a{
  text-decoration: none;
  font-weight: 500;
  color: #2F8D46;
  margin-left: 1.25rem;
  margin-top: 0.625rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1rem;
}
#page1 #navright a:hover{
  font-size: 1.25rem;
  color: hsl(135, 50%, 27%);
  transition: 0.2s ease-in;
  font-weight: 600;
}
#hero{
  height: 70vh;
  display: flex;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}
#hero #right{
  height: 100%;
  width: 45vw;
}
#hero #right video{
  width: 100%;
  height: 100%;
}
#hero #left{
  height: 100%;
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero #left p{
  padding-left: 2rem;
  font-size: 1.4rem;
}
#hero #left h1{
  padding-left: 2rem ;
  font-size: 2.5rem;
  text-decoration: underline;
}
#page1 h1{
  color: #4CAF50;
  font-family: sans-serif;
  font-size: 4rem;
  margin-block-end: 0;
}
#page1 h2{
  font-weight: 500;
  margin-left: 0.3125rem; /* 5px to rem */
  margin-block-start: 0;
  margin-block-end: 0;
}
#page1 button{
  margin-block-start: 0.9375rem; /* 15px to rem */
  padding: 0.625rem; /* 10px to rem */
  width: 7.5rem; /* 120px to rem */
  border-radius: 2.45rem; /* 39.2px to rem */
  margin-left: 0.3125rem; /* 5px to rem */
  font-size: 1rem; /* 16px to rem */
}
#page1 button:hover{
  background-color: rgb(76, 175, 80);
  color: #f5f5f5;
  font-weight: 600;
}
#page1 button:hover{
  cursor: pointer;
}
#page2{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#page2 #cards{
  width: 100%;
  margin-bottom: 1.25rem; /* 20px to rem */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1.25rem; /* 20px to rem */
  row-gap: 3.125rem; /* 50px to rem */
}
#card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.25rem; /* 20px to rem */
  border-radius: 0.9375rem; /* 15px to rem */
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.1); /* 5px to 10px to rem */
  min-width: 12.5rem; /* 200px to rem */
  max-height: 26.5125rem; /* 424.2px to rem */
}
#card img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

#card #text{
  margin-top: 0.625rem; /* 10px to rem */
  text-align: center;
}
#card .name{
  font-weight: 600;
  font-size: 1.25rem; /* 20px to rem */
}
#card img{
  width: 6.25rem; /* 100px to rem */
  height: 6.25rem; /* 100px to rem */
  border-radius: 50%;
  border: 0.3125rem solid #4CAF50; /* 5px to rem */
  
}
#card button{
  padding: 0.625rem; /* 10px to rem */
  border-radius: 2.45rem; /* 39.2px to rem */
  border: 0.125rem solid #4CAF50; /* 2px to rem */
  background-color: #fff;
  color: #4CAF50;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  margin-top: 0.3125rem; /* 5px to rem */
}
#card button:hover{
  background-color: #4CAF50;
  color: #fff;
}
#card .work{
  font-family: cursive;
}
#socials{
  margin-top: 1.25rem; /* 20px to rem */
}
#socials i{
  background-color: #f5f5f5;
  padding: 0.625rem; /* 10px to rem */
  margin-left: 0.3125rem; /* 5px to rem */
  border-radius: 2.25rem; /* 36px to rem */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px to 4px to rem */
  color: #4CAF50;
  cursor: pointer;
}
#socials i:hover{
  color: #fff;
  scale: 1.3;
  
}
#socials i:nth-of-type(1):hover{
  background-color: #0077B5;
}
#socials i:nth-of-type(2):hover{
  background-color: #111;
}
#socials i:nth-of-type(3):hover{
  background-color: #FF0068;
}
#page3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#page3 #page3cards{
  width: 100%;
  margin-bottom: 1.25rem; /* 20px to rem */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1.25rem; /* 20px to rem */
  row-gap: 3.125rem; /* 50px to rem */
}
#page6{
  width: 100%;
  min-height: 100vh;
  z-index: 10;
}
#scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 20px;
  transition: all linear 0.3s;
  color: #000;
  -webkit-text-stroke: 2px #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}
#scroller h4:hover {
  color: #2F8D46;
  -webkit-text-stroke: 2px #2F8D46;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
::selection{
  color: #f5f5f5;
  background-color: #2F8D46;
}